/* bottom */







.social-meadia-text {
    margin-bottom: 16px;
}

/* subscribe-section-form */


.subs-text {
    margin-bottom: 16px;
}

.subscribe-form {
    flex-direction: row;
    gap: 24px;
}



.subscribe-btn {
    min-width: 165px;
}

/* модальне вікно */

